body {
  background-color: #78a2d2;
  text-align: center;}
 
th { margin:10px auto 5px;
      font-size: 25px;
      color: #78a2d2;
      background: rgba(254, 255, 175, 1);
      padding: 15px 40px;
      box-shadow: 0 4px 12px rgba(21, 0, 115,0.5);
      font-family: "Trebuchet MS";
	text-shadow: 2px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	border-radius: 20px;
	text-decoration: none;
}
th:hover 
	{
	  transform: scale(1.055);
      box-shadow: 0 6px 12px rgba(0,0,0,0.3);
      z-index: 2;
      font-weight: bold;
		text-shadow: 2px 2px black, 0 0 25px blue, 0 0 5px darkblue;
		border-radius: 20px;
		text-decoration: none;
	}
