body {
    background-color: #78a2d2;
    font-family: "Trebuchet MS", Arial, sans-serif;
}

h1 {
    font-size: 40px;
    color: #feffaf;
    text-shadow: 3px 3px 6px #002394, 0 0 30px #001352;
    text-align: center;
    margin-bottom: 20px;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
    font-size: 30px;
    color: #1d60bf;
    text-shadow: 3px 3px 6px #8f7700, 0 0 30px #5c4d02;
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin: 20px auto;
    font-size: 30px;
    line-height: 1.6;
    background: rgba(254, 255, 175, 0.95);
    padding: 20px 40px;
    box-shadow: 0 6px 15px rgba(21, 0, 115, 0.6);
    border-radius: 15px;
    color: #1d60bf;
    max-width: 800px;
}
