body{
    background-color: #78a2d2;
}

h1{
    font-size: 25px;
    color: #feffaf;
	text-shadow: 2px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

a:link {
    color: #feffaf;
    font-size: 12px;
	text-shadow: 2px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	text-decoration: none;
}

a:visited {
    color:  #78a2d2;
    font-size: 12px;
	text-shadow: 2px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	text-decoration: none;
}

p {
	margin:10px auto 5px;
    font-size: 30px;
    background: rgba(254, 255, 175, 1);
    padding: 15px 40px;
    box-shadow: 0 4px 12px rgba(21, 0, 115,0.5);
    font-family: "Trebuchet MS";
	text-decoration: none;
}
