body {
  margin: 0;
  background-color: #78a2d2;
  text-align: center;
  font-family:Trebuchet MS;
  line-height: 80px;
  
}
h1 {
  color: #78a2d2;
  text-align: center;
  font-size: 40px;
  background-color: rgba(254, 255, 175, 0.8);

}
