body {
  margin: 0;
  background-color: #78a2d2;
  text-align: center;
  font-family:Trebuchet MS;
  line-height: 80px;
  
}
h1 {
  color: #78a2d2;
  text-align: center;
  font-size: 60px;
  background-color: rgba(254, 255, 175, 0.8);
  text-shadow: 2px 2px white, 0 0 25px yellow, 0 0 5px yellow;
}
