body{
  background-color: #f5f1ae;
  text-align: left;
  font-family: "Trebuchet MS";
}
p { 
      margin:10px auto 5px;
      font-size: 20px;
      color: #feffaf;
      background: rgba(120, 162, 210, 1);
      padding: 15px 40px;
      box-shadow: 0 4px 12px rgba(44, 52, 61, 1);
      font-family: "Trebuchet MS";
}
